
@font-face {
  font-family: "Cardo-Regular";
  src: url("./Cardo/Cardo-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Pocket-Monk";
  src:url("./pocket-monk_woff/Pocket\ Monk.woff");
  font-display: swap;
}