@import url("./fonts/font-lists.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url("../images/pokemon_bg.jpg");
  color: #fff !important;
  font-family: "Cardo-Regular" !important;
  overflow-x: hidden;
}
img {
  width: auto;
  height: 100%;
  object-fit: cover;
}
.img-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.pokemon-container {
  max-width: 100%;
  width: 92vw;
  margin: 0 auto;
  position: relative;
}
.inner {
  max-width: 1920px;
  width: 95vw;
  margin: 0 auto;
  position: relative;
}

.ul-cleargap {
  display: flex;
  list-style: none;
  margin: 0 !important;
}

a a:hover,
a:focus {
  color:initial;
  text-decoration: none;
}

.capitalize {
  text-transform: uppercase !important;
}

.thicker {
  text-shadow: 0 1px 0 black, 0 0 1px rgb(0,0,0),0 0 2px rgb(0,0,0),0 0 3px rgb(0,0,0),0 0 4px rgb(0,0,0);
}

.app {
  background: url("../images/pokemon_bg.jpg");
  min-height: 100vh;
}

.pokemon-header-title {
    padding: 10px 0;
    text-align: center;
    font-family: "Pocket-Monk";
    color: wheat;
    font-size: 60px;
    text-shadow: 0 1px 0 black, 0 0 1px rgba(0, 0, 0, 0.6),
      0 0 2px rgba(0, 0, 0, 0.7), 0 0 3px rgba(0, 0, 0, 0.8),
      0 0 4px rgba(0, 0, 0, 0.9);
}
